body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #111;
    color: white;
}

.tela {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.tela input {
    padding: 12px;
    width: 250px;
    border: none;
}

.hidden {
    display: none;
}

header {
    background: #000;
    text-align: center;
    padding: 25px;
    border-bottom: 1px solid #333;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}

.card {
    background: #1c1c1c;
    padding: 20px;
    width: 260px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #333;
}

.card input {
    width: 70px;
    padding: 5px;
    margin: 10px 0;
}

button {
    background: white;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.carrinho {
    background: #1a1a1a;
    margin: 30px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #333;
}

.enviar {
    background: #00a859;
    color: white;
    width: 100%;
    margin-top: 15px;
}